body{
    font-family: 'Poppins', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
    margin-left: 40%;

}
.orange-colour{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
   
    
}
.half-width img{
    width: 70%;
    margin-top: 30px;
}

.flexable-display{
    display: flex;
    margin-top: 20px;
}
#border-colour{
    border-left: 7px solid orange;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 120px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    color: black;
    border-radius: 4px;
}
.margin-bottom{
    margin-bottom: 50px;
    font-size: 25px;
}
#bottom-margin{
    margin-top: 30px;
}
.mission-item{
    margin-top: 90px;

}
.half-width2{
    width: 20%;
    margin: 10px 130px;
    padding-left:1%;
    padding-right:1%;
    padding-top:1%;
    padding-bottom: 1%;
}
.half-width2 img{
    width: 50%;
}
#colour-1{
    background-color: wheat;
    border-radius: 10px;
}
#colour-2{
    background-color: pink;
    border-radius: 10px;
}
#colour-3{
    background-color: plum;
    border-radius: 10px;
}
.half-width3{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
}
.half-width3 img{
    width: 90%;
}
.codding-area{
    margin-top: 90px;
    background-image: url(images/person/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: 33px;
    background-position-y: 90px;

}
.margin-down{
    margin-bottom: 50px;
    font-size: 25px;
}
#limits-right{
    padding-right: 400px;
    margin-left: 0;
}
.project-area{
    display: flex;
    margin-top: 70px;
    background-image: url(images/person/shape-1.png);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position-x: 1500px;
    background-position-y: 200px;
}
.project-area img{
    width: 80%;
}
#project-margin{
    margin-left: 0px;
    padding-right: 300px;
}
#limit2-right{
    padding-right: 400px;
    margin-left: 0;
}
.padding-health{
    padding-left: 180px;
}
#health-margin{
    margin-left: 800px;
}
#last-area{
    color: white;
    padding-top: 60px;
    padding-left: 800px;
}
footer p{
    text-align: center;
    padding-bottom: 60px;
}
.background-colour{
    background-color: darkslateblue;
}